{% extends "layout.html" %}
{% block content %}
<div class="container_logo">
	<img src="../static/images/MAIN_LOGO.png">
</div>
<div class="container">
	<section class="filter">
		<div class="city">
			<h3>City</h3>
			<h4>&nbsp;</h4>
			<ul class="city_popover">
				<h5>Choose City</h5>
				{% for city in cities %}
				<li class="radio_input">
					<input type="radio" name="city" value="{{ city.id }}" class="{{ city.name }}">
					<label for="city">{{ city.name }}</label>
				</li>
				{% endfor %}
			</ul>
		</div>
		<div class="neighborhood">
			<h3>Neighborhood</h3>
			<h4>&nbsp;</h4>
			<ul class="neighborhood_popover">
				<h5>Choose neighborhood</h5>

			</ul>
		</div>
		<div class="owner_search">
			<input type="text" name="owner" placeholder="Enter Doctor Name...">
		</div>
		<button type="button" class="search">
			Search
		</button>
	</section>
	<section class="doctor">
		<div class="doctor_container">
			<div class="photo_container">
				<img src="'../../static/images/user.png">
			</div>
			<div class="info_container">
				<div class="clinic_name">
					<i class="fa-solid fa-hospital"></i>
					<h4>CalendDent</h4>
				</div>
				<div class="clinic_owner">
					<i class="fa-solid fa-user-doctor"></i>
					<h4>Omar Ashraf</h4>
				</div>
				<div class="clinic_address">
					<i class="fa-solid fa-location-pin"></i>
					<h4>Mokattam</h4>
				</div>
				<div class="clinic_city">
					<i class="fa-solid fa-city"></i>
					<h4>Cairo</h4>
				</div>
				<div class="clinic_neighborhood">
					<i class="fa-solid fa-map-location"></i>
					<h4>Mokattam</h4>
				</div>
				<div class="clinic_aval">
					<i class="fa-solid fa-clock"></i>
					<h4>from 17:00 to 22:00</h4>
				</div>
				<div class="clinic_visit">
					<i class="fa-regular fa-dollar-sign"></i>
					<h4>200</h4>
				</div>

			</div>
			<div class="rating_container">
				<h1>5</h1>
				<button class="reservation">
					Book
				</button>
			</div>
		</div>
		<div class="doctor_container">
                        <div class="photo_container">
				<img src="">
                        </div>
                        <div class="info_container">
                        </div>
                </div>
		<div class="doctor_container">
                        <div class="photo_container">
				<img src="">
                        </div>
                        <div class="info_container">
                        </div>
                </div>
	</section>
</div>
<script src="https://kit.fontawesome.com/96fd0de210.js" crossorigin="anonymous"></script>
{% endblock %}
