{% extends "layout.html" %}
{% block content %}
<div class="container_logo">
	<img src="../static/images/MAIN_LOGO.png">
</div>
<div class="container">
	<section class="filter">
		<div class="city">
			<h3>City</h3>
			<h4>&nbsp;</h4>
			<ul class="city_popover">
				<h5>Choose City</h5>
				{% for city in cities %}
				<li class="radio_input">
					<input type="radio" name="city" value="{{ city.id }}" class="{{ city.name }}">
					<label for="city">{{ city.name }}</label>
				</li>
				{% endfor %}
			</ul>
		</div>
		<div class="neighborhood">
			<h3>Neighborhood</h3>
			<h4>&nbsp;</h4>
			<ul class="neighborhood_popover">
				<h5>Choose neighborhood</h5>

			</ul>
		</div>
		<div class="owner_search">
			<input type="text" name="owner" placeholder="Enter Doctor Name...">
		</div>
		<button type="button" class="search">
			Search
		</button>
	</section>
	<section class="doctor">
		{% for clinic in clinics %}
		<div class="doctor_container">
			<div class="photo_container">
				<img src="'../../static/images/user.png">
			</div>
			<div class="info_container">
				<div class="clinic_name">
					<i class="fa-solid fa-hospital"></i>
					<h4><b>{{ clinic.name }}</b></h4>
				</div>
				<div class="clinic_owner">
					<i class="fa-solid fa-user-doctor"></i>
					<h4>{{ clinic.user.first_name }} {{ clinic.user.last_name }}</h4>
				</div>
				<div class="clinic_address">
					<i class="fa-solid fa-location-pin"></i>
					<h4>{{ clinic.address.text_address }}</h4>
				</div>
				<div class="clinic_city">
					<i class="fa-solid fa-city"></i>
					<h4>{{ clinic.neighborhood.city.name }}</h4>
				</div>
				<div class="clinic_neighborhood">
					<i class="fa-solid fa-map-location"></i>
					<h4>{{ clinic.neighborhood.name }}</h4>
				</div>
				<div class="clinic_aval">
					<i class="fa-solid fa-clock"></i>
					<h4><b>from {{ clinic.opening_time.strftime("%H:%M") }} to {{ clinic.closing_time.strftime("%H:%M") }}</b></h4>
				</div>
				<div class="clinic_visit">
					<i class="fa-regular fa-dollar-sign"></i>
					<h4><b>{{ clinic.visit_price }}</b></h4>
				</div>

			</div>
			<div class="rating_container">
				<h1>5</h1>
				<a class="reservation" href="https://www.dentistomarashraf.tech/book?clinic_id={{ clinic.id }}">
					Book
				</a>
			</div>
		</div>
		{% endfor %}
	</section>
</div>
<script src="https://kit.fontawesome.com/96fd0de210.js" crossorigin="anonymous"></script>
{% endblock %}
