<!DOCTYPE html>
<html>
	<head>
		<title>CalenDent - {{ title }}</title>
		<link rel="stylesheet" href="../static/styles/body.css">
		<link rel="stylesheet" href="../static/styles/signin.css">
		<link rel="stylesheet" href="../static/styles/header.css">
		<link rel="stylesheet" href="../static/styles/clinic_control.css">
		<link rel="stylesheet" href="../static/styles/book.css">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="../static/scripts/calen.js"></script>
		<script type="text/javascript" src="../static/scripts/calen_2.js"></script>
		<script type="text/javascript" src="../static/scripts/calen_3.js"></script>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
	</head>
	<body>
		<header>
			{% if not user %}
			<button class="sign_in"><a href="https://www.dentistomarashraf.tech/signin">Sign In</a></button>
			{% else %}
			<button class="sign_in"><a href="https://www.dentistomarashraf.tech/logout">Sign Out</a></button>
			{% endif %}
			<nav class="navbar__menu">
				<ul class="navbar__list">
						<li><a class="menu__link" href="https://www.dentistomarashraf.tech/">Home</a></li>
					{% if user %}
						{% if user.role.value == "user" %}
						<li><a class="menu__link" href="https://www.dentistomarashraf.tech/user_reservations">Your Reservations</a></li>
						<li><a class="menu__link" href="https://www.dentistomarashraf.tech/clinic_reg">Add Your Clinic</a></li>
						{% elif user.role.value == "doctor" %}
						<li><a class="menu__link"  href="https://www.dentistomarashraf.tech/clinic_control">Your Clinics</a></li>
						 <li><a class="menu__link" href="https://www.dentistomarashraf.tech/clinic_reg">Add New Clinic</a></li>
						{% endif %}
					{% else %}
						<li><a class="menu__link" href="https://www.dentistomarashraf.tech/clinic_reg">Add your Clinic</a></li>
						<li><a class="menu__link" href="https://www.dentistomarashraf.tech/user_reservations">Your Reservations</a></li>
						<li><a class="menu__link" href="https://www.dentistomarashraf.tech/signup">Sign Up</a></li>
					{% endif %}
				</ul>
			</nav>
		</header>
		{% with messages = get_flashed_messages(with_categories=true) %}
        		{% if messages %}
                		{% for category, message in messages %}
                		<div class="alert-{{ category }}">
                        		<h4>
                                		<b>
                                		{{ message }}
                                		</b>
                        		</h4>
                		</div>
                		{% endfor %}
        		{% endif %}
		{% endwith %}
		{% block content %}{% endblock %}
	</body>
</html>
