{% extends "layout.html" %}
{% block content %}
<section class="reservation_booking_page">
	<div class="reservation_booking_page_container">
		<h4>{{ clinic.name }} Reservation </h4>
		<h4>Dr {{ clinic.user.first_name }} {{ clinic.user.last_name }}</h4>
		<h4>{{ clinic.address.text_address }}</h4>
		<h4>Doctor will Contact with you to confirm Appointment</h4>
		<h4>Services avaliable:</h4>
		<p>
		{% for service in clinic.services %}
		{% if service != clinic.services[-1] %}
		{{ service.name }},
		{% else %}
		{{ service.name }}
		{% endif %}
		{% endfor %}
		</p>
		<form action="/book" method="POST">
			<fieldset>
				<legend class="sign_in"></legend>
				<input type="hidden" id="clinic_id" name="clinic_id" value="{{ clinic.id }}">
				<div class="input_info_section">
				<label for="phone">Phone Number</label><br>
				<input type="tel" id="phone" pattern="^(02\d{8}|0\d{10})$" name="phone" placeholder="Phone or mobile number" required>
				</div>
				<div class="input_info_section">
				<label for="appointment">Avaliable Appointments</label><br>
				<select name="appointment" id="appointment" required>
					<option value="" disabled selected></option>
					{% for x in clinic.visits_avaliable %}
					<option value="{{ x.strftime("%H:%M") }}">{{ x.strftime("%H:%M") }}</option>
					{% endfor %}
				</select>
				</div>
				<div class="input_info_section">
				<input type="submit" value="Book">
				</div>
			</fieldset>
		</form>
	</div>
</section>
{% endblock %}
