<!DOCTYPE html>
<html lang="en">
	<head>
		<title>SIGN UP</title>
	</head>
	<body>
		<form action="/signup" method="POST">
			<fieldset>
				<legend>SIGN UP:</legend>
				<label for="email">Email</label><br>
				<input type="text" name="email"><br>
				<label for="password">password</label><br>
				<input type="password" name="password"><br>
				<label for="first_name">First Name</label><br>
				<input type="text" name="first_name"><br>
				<label for="last_name">Last Name</label><br>
				<input type="text" name="last_name"><br><br>
				<input type="submit" value="Submit">
			</fieldset>
		</form>
	</body>
</html>
