header {
	height: 85px;
	width: 100%;
	display: flex;
	align-items: center;
	background: rgb(214,219,228);
	background: linear-gradient(83deg, rgba(214,219,228,1) 11%, rgba(45,66,140,1) 100%);
	padding: 0px;
}

header::after {
	content: '';
	background: url('../../static/images/logo.png');
	display: inline-block;
	height: 64px;
	width: 50px;
	position: absolute;
	left: 35px;
	cursor: pointer;
}
button.sign_in {
	width: 70px;
	height: 40px;
	position: absolute;
	right: 0;
	margin-right: 37px;
	border-radius: 15%;
	border: 0px;
	background-color: #e6f0ef;
	font-size: 14px;
	font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
button a {
	size: 20px;
	color: black;
	text-decoration: None;
}
